.Projects{
    padding: 50px;
    padding-top: 120px;
    color: white;
    background-color: rgb(22, 25, 44);
}
.Projects h2{
    margin: 0px;
    text-align: center;
    color: #fe4955;
    font-size: 36px;
    
}

.projectsBtn > h4{
    cursor: pointer;
    
    border: 2px solid #ff4a57!important;
  color: #fff;
  font-weight: 500;
  
  padding: 13px 40px;
  border-radius: 50px;
  font-size: 15px;  
  margin-right: 10px;
}
.project-card{
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* background-color: white; */
    margin:30px;
    border-radius: 10px;
    padding: 20px;
    column-gap: 30px;
    /* height:150px; */
    /* border: 1px solid red; */
   align-items: center;
   border-radius: 50px;
   background: #16192c;
    box-shadow:  6px 6px 12px #101220, 
             -6px -6px 12px #1c2038;
            
}
/* .project-card:hover{
    box-shadow: inset 6px 6px 12px #101220, 
            inset -6px -6px 12px #1c2038;
} */

.projectTitle{
    text-align: center;
    color: #fe4955;
    font-size: 24px;
}
img{
    width: 100%;
    border-radius: 10px;
}

.Projects > div {
    width: 95%;
    margin: 0 auto;
    
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    justify-items: center;
    align-items: center;
}

.tech-logo  {
    text-align: center;
    font-size: 30px;
    margin-right:5px
}
.project-describtion {
    height:220px;
    padding:15px;
    overflow-y: scroll;
    -ms-overflow-style: none!important;  /* IE and Edge */
	scrollbar-width: none!important;  /* Firefox */
}
.button{
    border: 2px solid #ff4a57!important;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 13px 40px;
  border-radius: 50px;
  font-size: 15px;  
  margin-right: 10px;
  text-decoration: none;
}
.textCenter{
    margin:0px auto;
    width: fit-content;
}
.button:hover{
    
        animation: pulse 1.5s infinite;
          color: #fe4955!important;
      
}
.projectsBtn{
    /* width:auto; */
    margin: 0px auto;
    display: grid;
    width: 50%!important;
    grid-template-columns: 1fr 1fr;
}
.projectsBtn> h4:hover{
    animation: pulse 1.5s infinite;
    color: #fe4955!important;
}

@media (max-width : 1024px) {
    .projectsBtn{
   
        width: 65%!important;
  
    }
    .project-describtion{
        height: 250px;
    }
   
}
  
@media (max-width : 768px) {
    .project-card{
        display: block;
    }
    .projectsBtn{

        width: 90%!important;
    }
    

}
  
@media (max-width : 375px) {
    .projectsBtn{

        width: 100%!important;
    }
    .projectsBtn > h4{
        border: 1px solid #ff4a57!important;
      padding: 8px 20px;
      font-size: 8px;  
     
    }
    .project-card{
        margin: 0px;
        margin-bottom: 20px;
        width: 70%;
    }
    .Projects{
        padding: 10px;
    }
    .Projects > div{
        margin: 0px;
    }
    .tech-logo  {
        text-align: left;
        font-size: 16px;
        margin:0px;
    }
    .project-describtion {
        height:220px;
        padding:5px;
    }
    .button{
        border: 1px solid #ff4a57!important;     
      font-weight: 500;
      padding: 5px 15px; 
      font-size: 8px;  
    }
    .projectTitle{
       
        font-size: 16px;
    }
}