.skillpage {
    padding: 50px;
    padding-top: 120px;
    color: white;
    background-color: rgb(22, 25, 44);
}
.Skills {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
   
}
.icon-container {
    margin: 1em;
    text-align: center;
    width: 70px;
    background: #16192c;
    box-shadow:  6px 6px 12px #101220, 
             -6px -6px 12px #1c2038;
             padding: 20px;
             border-radius: 10px;
}
.icon {
    font-size: 32px;
    padding:auto 10px;
    text-align: center;
    color: #fe4955;
}
.icon-container:hover{
    animation: pulse 3s infinite;
    color: #fe4955;
}

.skills-header {
    margin:30px;
}

.icon-container > h5 {
    font-weight: 300;
}

.skills-header{
    margin: 0px;
    text-align: center;
    color: #fe4955;
    font-size: 36px;
    padding-bottom: 50px;
}



@media (max-width : 1024px) {
    .Skills {
        grid-template-columns: repeat(6, 1fr);
    }
 
    .icon {
        font-size: 30px;
    }
   
}

@media (max-width : 768px) {
    .Skills {
        grid-template-columns: repeat(5, 1fr);
    }
    .icon-container, .icon-container:hover {
        width: 45px;
        padding: 7px;
        font-size: 10px;
    }
    .icon {
        font-size: 24px;
        padding:auto 7px;
    }
    
}

@media (max-width : 375px) {
    .Skills {
        grid-template-columns: repeat(3, 1fr);
    }
    .icon-container, .icon-container:hover {
        width: 40px;
        padding: 7px;
        font-size: 10px;
    }
    .icon {
        font-size: var(--fs-h3);
        padding:auto 7px;
    }
    
}