.About {
    margin: 20px;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    text-align: center;
    padding:20px;

}
.aboutP{
    width: 80%;
    margin: 0px auto;

}

.aboutP > p {
    font-size: 20px;
    line-height: 2em;
    text-align: justify;
}

.yasaman-pic {
    border-radius: 50%;
    width:300px;
    height: auto;   
    border: 8px solid #eaf2f4;
    background: #eaf2f4;
    box-shadow:  20px 20px 60px #eaf2f4, 
             -20px -20px 60px #c9e6ed;
}



@media (max-width : 1024px) {
    .About {
        display: block;
    }
    .yasaman-pic {
        width:180px;
    }
    #about{
        background-color: white;
    }
    .aboutP > p {
        font-size: 16px;
        line-height: 1.7em;
    }
}

@media (max-width : 760px) {
    .yasaman-pic {
        width:120px;
    }
    .aboutP > p {
        font-size: 13px;
        line-height: 1.4em;
    }
    .icons-logo {
        font-size: 30px;
        padding:10px;
    }
}