.About {
    
    background-color: #23263a;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    text-align: center;
    padding:20px;
    color: white;
    padding-top:80px;
}
.aboutP{
    width: 80%;
    margin: 0px auto;

}
.aboutP h2{
    color: #fe4955;
    font-size: 36px;
}
.aboutP span {
    text-align: left;
    color: #fe4955;
    font-weight: 500;
}
.aboutP > p {
    font-size: 20px;
    line-height: 2em;
    text-align: justify;
}

.yasaman-pic {
    width: 400px;
    margin: 0px auto;
    height: 550px;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(35,38,58, 0.5)), url(./yasaman.png);
    background-position: center;
    background-repeat: no-repeat;
}

