.Header{
    background-color: #23263a;
    /* width: 100%; */
    /* height: 100vh; */
    padding: 100px;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    justify-self: center;
    overflow-x: hidden!important;
}
.portfolioLink{
  border: 2px solid #ff4a57!important;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 13px 40px;
  border-radius: 50px;
  font-size: 15px;  
  text-decoration: none;
}
.portfolioLink:hover{
  animation: pulse 1.5s infinite;
    color: #fe4955!important;
}
.Header h1{
  animation: animated-text 3.5s steps(30,end) 1s 1 normal both,
  animated-cursor 700ms steps(39,end) infinite;
    font-size: 42px;
    font-weight: 700;
    overflow: hidden;
    border-right: 5px solid transparent;
    white-space: nowrap;
    color: white;
    
}

.Header h3{
  font-size: 20px;
  cursor: pointer;
  font-weight: 100!important;
  /* margin-bottom: 50px; */
  color: white;
  line-height: 1.7em;
   
}

h3 span{
  font-size: 30px;
}


@keyframes animated-text{
  from{width: 0;}
  to{width: 550px;}
}

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}




@media (max-width : 1024px) {

  .Header svg {
    width: 80%!important;
    height: 80%!important;
  }
  .Header h1{
      font-size: 30px;
  }
  @keyframes animated-text{
    from{width: 0;}
    to{width: 400px;}
  }
 
}

@media (max-width : 768px) {
  .Header{
    display: block;
  }
  .animation{
    display: none;
  }
  
  
}

@media (max-width : 375px) {
  
  .Header{
    padding-left: 30px;
  }
  .Header h1{
    font-size: 22px;
}
  @keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }
  .Header h3{
    font-size: 16px;
    line-height: 1.9em;
  }

  h3 span{
    font-size: 20px;
    font-weight: 500;
  }
}