:root {
	/* font-family:  */
	--ff-primary: 'Nunito', sans-serif;
	--ff-secondary: 'Roboto Mono', monospace;;

	--fw-regular: 400;
	--fw-bold: 700;
	--f-color : #1B0E58;
	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.15rem;
	--fs-body: 1rem;

	--box-shadow: 0.25em 0.25em 0.75em rgba(170, 170, 170, 0.65),
    0.125em 0.125em 0.25em rgba(187, 187, 187, 0.65);
    
  --logo-size: 4rem;
}

@media (max-width: 390px) {
	:root {
		--fs-h1: 2.6rem;
		--fs-h2: 1.5rem;
		--fs-h3: 0.9rem;
    	--fs-body: 0.75rem;
    	--logo-size: 2rem;
	}
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 3.7rem;
		--fs-h2: 2.75rem;
		--fs-h3: 1.9rem;
    	--fs-body: 1.125rem;
	}
}


body {
	font-family: var(--ff-primary);
}


h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    text-shadow: 2px 2px 3px #170c4b;
    margin: 0px;
    color: var(--f-color);
}

h2{
	text-align: center;
	font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    text-shadow: 2px 2px 3px #170c4b;
    margin: 15px;
    color: var(--f-color);
}